a {
    i {
        font-size: 20px;
        color: var(--bg-primary);
        transition: .5s;
        padding: 10px;
        border-radius: 3px;
        &:hover{
            background: rgba($color: #747474, $alpha: 0.8);
        }
    }
}
