@import "./../../../../assets/variables";
.container {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: var(--primary-color);

    span {
        @include center();
        font-size: 10px;
        color: var(--bg-primary);
        font-weight: bold;
        padding-top: 4px;
    }
}

.active {
    background: #fff;
    span {
        color: var(--primary-color);
    }
}
