@import './../../../../assets/variables';
.container {
    width: 15px;
    height: 15px;
    float: right;
    border-radius: 50%;
    background: var(--primary-color);
    margin-top: 5px;

    span {
        @include center();
        align-items: center;
        font-size: 8px;
        color: var(--bg-primary);
        font-weight: bold;
        padding-top: 2px;
    }
}