@import "../../../../../assets/variables";
.container {
    position: relative;
    height: calc(100% - 20px);
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0px 10px;
    padding-right: 0;
    background: var(--bg-secondary);
    border: 2px solid rgb(245, 245, 245);
    .file-upload > input,
    .audio-upload > input {
        display: none;
    }
    input {
        font-size: 12px;
        padding: 5px;
        height: 100%;
        width: 100%;
        background: transparent;
        &::placeholder {
            color: var(--text-secondary);
        }
    }
    i {
        font-size: 16px;
        padding: 0 10px;
        cursor: pointer;
        color: var(--icon-primary);
        transition: 0.5s;
        &:hover {
            color: var(--icon-hover);
        }
    }
    button {
        height: 40px;
        width: 40px;
        background: var(--bg-primary);
        box-shadow: 0 4px 4px var(--shadow);
        border-radius: 50%;
        @include center();
        .send {
            @include center();
            background: var(--primary-color);
            border-radius: 50%;
            height: 35px;
            width: 35px;
        }
        i {
            color: var(--bg-primary);
        }
    }
}
