<div class="container card">

    <div class="file-upload">
        <label for="file-input">
            <i class="fa fa-paperclip" (click)="closeEmojiTray()"></i>
        </label>
        <input id="file-input" type="file" accept="image/*" (change)="uploadImage($event)" />
    </div>

    <input type="text" placeholder="Type a message here..." value={{message}} (input)="setMessage($event)"
        (keyup)="$event.keyCode == 13 && sendText()">

    <i class="fa fa-smile" (click)="openEmojiTray()"></i>

    <div class="audio-upload">
        <label for="file-input">
            <i class="fa fa-microphone"></i>
        </label>
        <input type="file" accept="audio/*" capture id="recorder" (change)="uploadAudio($event)">
    </div>

    <button>
        <i class="fa fa-paper-plane send" (click)="sendText()"></i>
    </button>
    <app-emoji-tray (select)="addEmoji($event)"></app-emoji-tray>
</div>