@import "../../../../../assets/variables";
.container {
    position: relative;
    height: calc(100% - 20px);
    // margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0px 10px;
    padding-right: 0;
    background: var(--bg-secondary);
    border: 2px solid rgb(245, 245, 245);
    .file-upload > input,
    .audio-upload > input {
        display: none;
    }

    .emojiTray {
        bottom: 40px;
        right: 70px;
        position: absolute;
        border: 1px solid gainsboro;
        padding: 10px 0;
        background: var(--bg-primary);

        .header {
            display: flex;
            justify-content: space-between;
            .heading {
                h1 {
                    padding: 0 10px;
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }

        .emojies {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
            span {
                user-select: none;
                padding: 10px;
                cursor: pointer;
                transition: 0.5s;
                font-size: 20px;
                &:hover {
                    transform: scale(1.8);
                }
            }
        }
    }
    input {
        font-size: 11px;
        padding: 5px;
        height: 100%;
        width: 100%;
        background: transparent;
        &::placeholder {
            color: var(--text-secondary);
        }
    }
    i {
        padding: 0 10px;
        cursor: pointer;
        color: var(--icon-primary);
        transition: 0.5s;
        &:hover {
            color: var(--icon-hover);
        }
    }
    button {
        height: 40px;
        width: 40px;
        background: var(--bg-primary);
        box-shadow: 0 4px 4px var(--shadow);
        border-radius: 50%;
        @include center();
        .send {
            @include center();
            background: var(--primary-color);
            border-radius: 50%;
            height: 35px;
            width: 35px;
        }
        i {
            color: var(--bg-primary);
        }
    }
}
