@import "./../../../../../assets/variables";
.container {
    height: 100%;
    overflow: auto;
    // background: var(--bg-primary);
    // border-right: 1px solid rgb(245, 245, 245);
    .details {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        height: 80px;
        // border-radius: 5px;
        // margin-bottom: 7px;
        border-bottom: 2px solid rgb(245, 245, 245);
        cursor: pointer;
        &:hover {
            background: var(--bg-secondary);
        }
        .messenger {
            display: flex;
            .displayPicture {
                position: relative;
                margin-right: 10px;
                // background: var(--bg-primary);
                // box-shadow: 0 3px 4px var(--shadow);
                // height: 40px;
                // width: 40px;
                @include center();
                span {
                    position: absolute;
                    bottom: 7px;
                    right: 2px;
                    width: 12px;
                    height: 12px;
                    background: var(--icon-primary);
                    border-radius: 50%;
                    border: 2px solid #fff;
                }
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
            .name {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px 0;
                // background: red;
                h3 {
                    font-size: 14px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 130px;
                }
                p {
                    font-size: 12px;
                    font-weight: bold;
                    color: var(--text-secondary);
                    width: 130px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .imageFile {
                    display: flex;
                    i {
                        font-size: 12px;
                        color: var(--icon-primary);
                        margin-right: 5px;
                    }
                    span {
                        font-size: 10px;
                        font-weight: bold;
                        color: var(--text-secondary);
                    }
                }
            }
        }
    }
    .current-messenger {
        background: var(--bg-primary);
        border-right: 2px solid var(--primary-color);
        &:hover {
            background: var(--bg-primary);
        }
    }

    .msgInfo {
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        p {
            font-size: 10px;
            font-weight: bold;
            color: var(--text-secondary);
        }
    }
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background: transparent;
}
