<div class="container">
    <div class="details" [ngClass]="(messenger['userName'] == currentMessenger)?'current-messenger':null"
        *ngFor="let messenger of messengerList" (click)="openUserMessages(messenger)">
        <div class="messenger">
            <div class="displayPicture">
                <img src="http://localhost:5000/{{messenger['image']}}" alt="DP">
                <span [title]="(messenger['lastSeen']) != 'online'?'Offline':'Online'"
                    [style.background]="setStatusColor(messenger['lastSeen'])"></span>
            </div>
            <div class="name">
                <h3>{{messenger['firstName']}}</h3>
                <p *ngIf="messenger['latestMessage']">{{messenger['latestMessage']}}</p>
                <p *ngIf="!messenger['latestMessage'] && !messenger['latestFile']">No message yet</p>
                <div class="imageFile">
                    <i *ngIf="messenger['latestFile']" class="fa fa-image"> </i>
                    <span *ngIf="messenger['latestFile']">image</span>
                </div>
            </div>
        </div>
        <div class="msgInfo">
            <p *ngIf="messenger['time']">{{messenger['time'] | formatTime}}</p>
            <!-- <app-badge [value]="messenger['messages']"></app-badge> -->
        </div>
    </div>
</div>