@import "../../../../../assets/variables";
.container {
    display: flex;
    justify-content: space-between;
    .details {
        display: flex;
        .displayPicture {
            margin-right: 10px;
            background: var(--bg-primary);
            box-shadow: 0 3px 4px var(--shadow);
            height: 40px;
            width: 40px;
            border-radius: 50%;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
            }
            @include center();
            img {
                width: 35px;
                border-radius: 50%;
                height: 35px;
            }
        }
        .name {
            padding: 2px 0;
            h3 {
                font-size: 13px;
            }
            p {
                font-size: 11px;
                color: var(--text-secondary);
                font-weight: bold;
            }
        }
    }
    .options {
        @include center();
        padding: 0 10px;
        padding-right: 0;
        i {
            padding: 0 15px;
            padding-right: 0;
            cursor: pointer;
            color: var(--icon-primary);
        }
    }
}
