@import "../../../../../assets/variables";
.container {
    padding: 7px 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background: var(--bg-primary);
    border-bottom: 2px solid rgb(245, 245, 245);
    .details {
        display: flex;
        .displayPicture {
            margin-right: 10px;
            // background: var(--bg-primary);
            // box-shadow: 0 3px 4px var(--shadow);
            // height: 40px;
            // width: 40px;
            // border-radius: 50%;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
            }
            @include center();
            img {
                width: 40px;
                border-radius: 50%;
                height: 40px;
            }
        }
        .name {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // padding: 5px 0;
            h3 {
                font-size: 14px;
            }
            p {
                font-size: 12px;
                font-weight: bold;
                color: var(--text-secondary);
                
            }
        }
    }
    .options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100px;
        // @include center();
        // padding: 0 10px;
        // background: red;

        // padding-right: 0;
        i {
            // padding: 0 20px;
            // padding-right: 0;
            font-size: 15px;
            cursor: pointer;
            color: var(--icon-primary);
        }
    }
}
