<div class="container">

    <div class="box">

        <div class="steps">
            <div class="step">
                <i [style.color]="(currentStep)>=1?'#fff':'black'"
                    [style.background]="(currentStep)>=1?'#6C63FF':'#eee'" class="fa fa-user"></i>
                <span>Info</span>
            </div>
            <div class="step">
                <i [style.color]="(currentStep)==2?'#fff':'black'"
                    [style.background]="(currentStep)==2?'#6C63FF':'#eee'" class="fa fa-image"></i>
                <span>DP</span>
            </div>

        </div>

        <Form *ngIf="currentStep==1" [formGroup]="registerForm" class="register-section" (ngSubmit)="onSubmit()">

            <div class="first-name-form">
                <input type="text" name="firstName" placeholder=" " formControlName="firstName" autocomplete="off">
                <label for="firstName" class="label-name">
                    <span class="content-name">First Name</span>
                </label>
            </div>
            <div class="last-name-form">
                <input type="text" name="lastName" placeholder=" " formControlName="lastName" autocomplete="off">
                <label for="lastName" class="label-name">
                    <span class="content-name">Last Name</span>
                </label>
            </div>
            <div class="user-name-form">
                <input type="text" name="userName" placeholder=" " formControlName="userName" autocomplete="off">
                <label for="userName" class="label-name">
                    <span class="content-name">User Name</span>
                </label>
            </div>
            <div class="password-form">
                <input type="password" name="password" placeholder=" " formControlName="password" autocomplete="off">
                <label for="password" class="label-name">
                    <span class="content-name">Password</span>
                </label>
            </div>


            <button (click)="moveStep(2)">Next</button>
        </Form>

        <Form class="display-picture-container" *ngIf="currentStep==2" [formGroup]="registerForm"
            (ngSubmit)="onSubmit()">
            <div class="img">DP</div>
            <div class="file">
                <input type="file" id="file" accept="image/*" #imageInput (change)="uploadImage(imageInput)">
                <label for="file">choose a file</label>
            </div>

            <div class="button">
                <button (click)="moveStep(1)">Back</button>
                <button>Register</button>
            </div>
        </Form>

    </div>
</div>