<div class="header">
  <section class="heading">
    <p>CHAT ONE</p>
  </section>
  <section *ngIf="userData" class="user">
    <p>My Profile</p>
    <p>{{userData['firstName'] + ' ' + userData['lastName']}}</p>
    <div class="displayPicture">
      <img src="http://localhost:5000/{{userData['image']}}" alt="">
    </div>
  </section>
  <!-- <section class="user">
    <div class="div">
      <i class="fa fa-cog"></i>
    </div>
    <div class="div">
      <i class="fa fa-bell"></i>
    </div>
    <div class="div">
      <i class="fa fa-user"></i>
    </div>
  </section> -->
</div>