<div class="container">
    <div class="header">
        <app-header></app-header>
    </div>

    <div class="left-section">

        <div class="search">
            <app-search></app-search>
        </div>
        <div class="tabs">
            <app-tab [list]="tabList" [active]="activeTab"></app-tab>
        </div>
        <div class="list">
            <app-messaged-user></app-messaged-user>
        </div>

    </div>

    <div class="chatbox">

        <div class="chatter">
            <app-chatter-header></app-chatter-header>
        </div>
        <div class="messages">
            <app-message-box [messages]="messages" [user]="userName"></app-message-box>
        </div>
        <div class="postMessage">
            <app-post-message (msgSendEvent)="sendMessage($event)"></app-post-message>
        </div>

    </div>

    <div class="right-section">

        <div class="displayPicture">
            <img src="http://localhost:5000/{{messengerData['image']}}" alt="DP"
                (click)="openImage('http://localhost:5000/'+messengerData['image'], messengerData['firstName'])">
        </div>
        <h1>{{messengerData['firstName'] + ' ' + messengerData['lastName']}}</h1>
        <p>{{messengerData['userName']}}</p>

        <div class="items">
            <app-user-action-items></app-user-action-items>
            <!-- <i title="Make a call" class="fa fa-phone"></i>
            <i title="Make a video call" class="fa fa-video"></i>
            <i title="Add to favourites" class="fa fa-star" aria-hidden="true"></i> -->
        </div>

        <div class="attachments">
            <app-attachments [messages]="messages"></app-attachments>
            <!-- <div class="heading">
                <h1>
                    Attachments
                </h1>
                <div class="tabs">
                    <span class="active">Images</span>
                    <span>Videos</span>
                    <span>Audios</span>
                </div>
            </div>
            <div class="files">
                <ng-container *ngFor="let message of messages">
                    <img *ngIf="!message['text']" src="{{message['image']}}" alt="">
                </ng-container>
            </div> -->
        </div>
    </div>

</div>